/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Rubik:wght@500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Lato', sans-serif; /* Set Lato for body text */
  background-color: #f8fafc; /* Light gray background for the entire app */
}

h1, h2, h3, h4, h5, h6, .menu, .sidebar, button {
  font-family: 'Rubik', sans-serif; /* Set Rubik for headings and menus */
  margin: 0;
}

button {
  outline: none;
}

/* Custom rounded corners and shadows for cards */
.card {
  border-radius: 1rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.sidebar {
  border-radius: 0 1rem 1rem 0;
}

.table, .chart, .graph {
  background-color: #B6B6B6; /* Updated background color */
}
